{% extends "base.html" %}

{% block head %}
	{{ block.super }}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="?rss" />
{% endblock %}

{% block content %}
	<div class="pull-right">
    <a href="?ascii"><button class="btn btn-primary btn-sm">plain text</button></a> 
    <a href="?bibtex"><button class="btn btn-primary btn-sm">BibTex</button></a> 
	</div>
  <br>
  <br>
	{% for year, publications in years %}
    <br>
    <a href="/publications/year/{{ year }}/"><button class="btn"><h1>{{ year }}</h1></button></a>
		<hr/>
		<div{% if not forloop.last %} style="margin-bottom: 30px;"{% endif %}>
		{% for publication in publications %}
			<div{% if not forloop.last %} style="margin-bottom: 20px;"{% endif %}>
				{% include "publications/publication.html" %}
			</div>
		{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
